.box {
  padding: 10px;
  display: inline-block;
  width: 14%;
  position: relative;
  height: 130px;
  .text-day {
    color: #bababa;
  }
  .text-max-temperature {
    color: #878787;
  }
  .text-min-temperature {
    color: #bababa;
  }
  .weather {
    width: 100px;
  }
  .daycard-loader {
    position: absolute;
    bottom: 0;
    left: calc(50% - 10px);
  }
}