@import "../../func/variables.scss";
.box {
  padding: 10px;
  display: inline-block;
  width: 40%;
  position: relative;
  height: 150px;
  background: rgba(237, 110, 77, 0.1);
  margin: 5px;
  border-radius: 6px;
  .text-day {
    color: $gray;
  }
  .text-max-temperature {
    color: $primary-color;
  }
  .text-min-temperature {
    color: $gray;
  }
  .daycard-loader {
    position: absolute;
    bottom: 10px;
    left: calc(50% - 10px);
  }
}
