@import "../../func/variables.scss";
.container {
  padding: 15px;
  text-align: center;
  .region-title {
    color: $gray-dark;
    font-style: italic;
  }
  .thermometric-unit {
    margin-bottom: 25px;
    span {
      padding: 5px 10px;
      &:hover {
        cursor: pointer;
      }
      &.selected {
        color: $white;
        background: $primary-color;
        border-radius: 4px;
      }
    }
  }
  .comment {
    font-style: italic;
    color: $gray-dark;
  }
  .comment-highlighted {
    color: $primary-color;
  }
}
