.container {
  border: 1px solid #D9D9D9;
  padding: 15px;
  border-radius: 0 0 6px 6px;
  border-top: 3px solid #D9D9D9;
  .region-title {
    color: #333;
    font-style: italic;
    margin: 0;
  }
  .region-info {
    color: #333;
    margin-bottom: 15px;
  }
}