.app-container{
  border-radius: 5px;
  margin: 50px;
}

.app-loading .logo {
  width: 120px;
  height: 120px;
  position: absolute;
  top: calc(50% - 40px);
  left: calc(50% - 40px);
  opacity: 0.8;
}

.loader-container {
  position: absolute;
  top: calc(50% + 5px);
  left: calc(50% + 5px);
}