.graphic-container {
  .custom-tooltip {
    display: flex;
    align-items: center;
    position: relative;
    span {
      position: absolute;
      top: 0;
      right: calc(50% - 25px);
      font-weight: #333;
    }
    img {
      margin-top: 5px;
    }
  }
}
